<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    
    </startup>
<connectionStrings> 
  <add name="GalleryDatabase" providerName="System.Data.SqlClient" 
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB; 
       AttachDbFilename=C:\Users\Administrator\Documents\Visual Studio 2017\Projects\ArtGallery3\BoredGamesDB.mdf; 
       Database=BOREDGAMESDB.MDF"/> 
  </connectionStrings>
 
</configuration>
